body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #5848e9, #8483eb);
}

button {
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #0004ee;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}